<% include ../partials/header %>
  <h1>Compose</h1>
  <form method="post">
    <input type="text" name="blogComment">
    <input type="submit" value="Publish">
  </form>
<% include ../partials/footer %>
