<% include ../partials/header %>
  <h1>Home</h1>
  <p><%= openingBlurb %></p>
  <br>
  <br>
  <!--
  < % var i; %>
  < % for (i = 0; i < posts.length; i++) { %>
  < % console.log(posts[i].title); %>
  < % } %>
  -->
  <% posts.forEach(function(post){ %>
  <%  console.log(post.title); %>
  <% }) %>
<% include ../partials/footer %>
