@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url("images/scott-webb-r4gqCg1iies-unsplash.jpg") no-repeat
        center center/cover;
    /* background: url("images/sandis-EPZfmhsYlek-unsplash.jpg") no-repeat center center/cover; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter: blur(0px);
}

.flex-spacer-at-top {
    align-self: flex-start;
}

.loading-text {
    /* position: relative; */
    max-width: 50%;
    font-size: 50px;
    color: white;
    /* z-index: 1; */
}

/* Taken from:
    https://stackoverflow.com/questions/21671292/aligning-text-to-bottom-left-corner-inside-a-styled-element

    Try to wrap your targeted text inside a span:
    <article class="box" style="background-color: #2672EC"><span class="bottom">foo bar</span>
    
    Then you can use:
    .box {
        position: relative;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
*/

.credit-text {
    align-self: flex-start;
    /* align-self: flex-end; */
    /* position: relative; */
    /* z-index: -1;*/
    /* top: 0; */
    /* left: 0; */
    /*width: 100vw;
    height: 100vh; */
}

.credit-photo {
    /* position: absolute;
    bottom: 0;
    left: 0;*/
    color: white;
    font-size: 25px;
}
