@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url("images/scott-webb-r4gqCg1iies-unsplash.jpg") no-repeat
        center center/cover;
    /* background: url("images/sandis-EPZfmhsYlek-unsplash.jpg") no-repeat center center/cover; */
    position: absolute;

    /* The blurring leaves an effect that encroaches from outside edges - purely a personal preference */
    top: -30px; /* was 0px */
    left: -30px; /* was 0px */
    /* Calculations to take into effect the adjustments to the top and left made above */
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -2;
    filter: blur(0px);
}

.flex-spacer-at-top {
    align-self: flex-start;
}

.loading-text {
    max-width: 50%;
    font-size: 50px;
    color: white;
}

.credit-text {
    align-self: flex-start;
    padding: 10px;
}

.credit-photo {
    color: white;
    font-size: 25px;
}

.credit-photo a:link {
    color: white;
}
.credit-photo a:visited {
    color: green;
}
.credit-photo a:hover {
    color: red;
}
.credit-photo a:active {
    color: yellow;
}
